<div id="app">
    <section id="home" class="hero is-fullheight">
        <div class="hero-header">
            <app-header></app-header>
        </div>
        <div class="hero-body">
            <app-home></app-home>
        </div>
    </section>

    <section id="insert" class="hero is-fullheight">
        <app-insert></app-insert>
    </section>

    <section id="view" class="hero is-fullheight">
        <app-view></app-view>
    </section>

    <div id="home-it">
        <div class="home-shared">
            <span class="icon is-large">
                <a href="#home">
                    <i class="fa fa-2x fa-home">
                    </i>
                </a>

            </span>
        </div>
    </div>

</div>